cycler==0.10.0
dataclasses==0.7
decorator==4.4.2
imageio==2.8.0
joblib==0.15.1
kiwisolver==1.2.0
matplotlib==3.2.2
mss==5.1.0
networkx==2.4
numpy==1.18.5
opencv-contrib-python==4.2.0.34
opencv-python==4.2.0.34
Pillow==9.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.5.0
screeninfo==0.6.5
six==1.15.0
threadpoolctl==2.1.0
tifffile==2020.6.3
